/* Error: There's already a module with namespace "footer".
 *     ,
 * 18  | @use "layout/footer";
 *     | ==================== original @use
 * ... |
 * 20  | @use "layout/_footer";
 *     | ^^^^^^^^^^^^^^^^^^^^^ new @use
 *     '
 *   sass\main.scss 20:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"footer\".\a     \2577 \a 18  \2502  @use \"layout/footer\";\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 20  \2502  @use \"layout/_footer\";\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   sass\\main.scss 20:1  root stylesheet";
}
