@use "../abstracts" as *;

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000; // IT JUST WORKS FOR FIXED POSITIONS
    transition: transform 0.8s;
    // transform: scale(80);
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    list-style: none;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-size: 220%;
      transition: all 0.4s;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-primary;
        transform: translateX(1rem);
      }

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }
  }
}
