@use "../abstracts" as *;

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    // transform: scale(80);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    width: 0;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    margin: 1rem;
    list-style: none;
    text-align: center;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      background-size: 220%;
      transition: all 0.4s;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
    }

    &:hover,
    &:active {
      color: $color-primary;
      transform: translateX(1rem);
      background-position: 100%;
    }

    span {
      margin-right: 1.5rem;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 3.4rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(135deg);
    top: 0;
  }
}
