@use "../abstracts" as *;

.navigation {
  &__input {
    display: none;
  }

  &__button {
    background-color: $color-white;
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    transform: scale(80);
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
  }

  &__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    margin: 1rem;
    list-style: none;
    text-align: center;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      background-size: 220%;
      transition: all 0.4s;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
    }

    &:hover,
    &:active {
      color: $color-primary;
      transform: translateX(1rem);
      background-position: 100%;
    }

    span {
      margin-right: 1.5rem;
    }
  }
}
