.card {
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    height: 50rem;
    font-size: 2.5rem;
    transition: all 0.8s;
    color: #fff;
    background-color: green;
  }

  &:hover &__side {
    transform: rotateY(180deg);
  }
}
