@use "../abstracts" as *;

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid $color-gray-light-2;

    -moz-column-count: 2;
    -moz-column-gap: 3rem;
    -moz-column-rule: 1px solid $color-gray-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &:target &__content {
    opacity: 1;
    transform: scale(1);
    transform: translate(-50%, -50%);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include absCenter;
    width: 65%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    // opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.3s 0.2s;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      line-height: 1;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
