@use "../abstracts" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@include respond(tab-land) {
  html {
    font-size: 56.25%;
  }
}

@include respond(tab-port) {
  html {
    font-size: 50%;
  }
}

@include respond(big-desktop) {
  html {
    font-size: 68.75%;
  }
}
